<template name="matchFinished">
	<td>{{_id}}</td>
	<td>
		<span class="text-info">{{team1.name}}</span>
		 vs 
		<span class="text-danger">{{team2.name}}</span>
	</td>
	<td>{{winTeam team1 team2}}</td>
	<td>
		<span class="text-info">{{team1.score}}</span>
		 : 
		<span class="text-danger">{{team2.score}}</span>
	</td>
	<td>{{type}}</td>
	<td>{{map}}</td>
	<td>
		<a href="/matches/{{_id}}" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</td>
</template>