<template name="matchPlayed">
	<td>{{id}}</td>
	<td>
		<span class="success">{{team1}}</span>
		 vs 
		<span class="danger">{{team2}}</span>
	</td>
	<td>{{winTeam}}</td>
	<td>
		<span class="success">{{scoreTeam1}}</span>
		 : 
		<span class="danger">{{scoreTeam2}}</span>
	</td>
	<td>{{type}}</td>
	<td>{{rate}}</td>
	<td>{{map}}</td>
	<td>{{date}}</td>
	<td>{{status}}</td>
	<td>
		<a href="/matches/{{id}}" class="btn btn-link">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</td>
</template>