<template name="matchInGame">
	<td>{{id}}</td>
	<td>
		<span class="success">
			{{#with team team1._id 'byTeamId'}}
				{{name}}
			{{/with}}
		</span>
		 vs 
		<span class="danger">
			{{#with team team2._id 'byTeamId'}}
				{{name}}
			{{/with}}
		</span>
	</td>
	<td>
		<span class="success">
			{{#with team team1._id 'byTeamId'}}
				{{score}}
			{{/with}}
		</span>
		 : 
		<span class="danger">
			{{#with team team2._id 'byTeamId'}}
				{{score}}
			{{/with}}
		</span>
	</td>
	<td>{{type}}</td>
	<td>{{rate}}</td>
	<td>{{map}}</td>
	<td>{{serverGameStatus}}</td>
	<td>
		<a href="/matches/{{_id}}" class="btn btn-link">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</td>
</template>