<template name="yandex-metrika">
<a href="http://metrika.yandex.ru/stat/?id=23213056&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23213056/3_0_FFFFFFFF_E6E6FAFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
<noscript><div><img src="//mc.yandex.ru/watch/23213056" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</template>