<template name="match">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class='col-md-4 center'>
						<ul class="list-group">
							<li class='list-group-item list-group-item-info'>
								<h3 style='margin: 0'>{{team1.name}}</h3>
							</li>
							<li class='list-group-item'>
								<img src="{{getTeamImage team1.name}}" alt="{{team1.name}}" height='120px'>
							</li>
							{{#each team1.members}}
								  <a class="list-group-item" href='/users/{{this}}'>{{this}}</a>
							{{/each}}
						</ul>
					</div>
					<div class='col-md-4'>
						<h1 class='text-center'>
							<span class='text-info'>{{team1.score}}</span>
							 : 
							<span class='text-danger'>{{team2.score}}</span>
						</h1>
						<hr>
						<b class='text-success'>Карта:</b> <i>{{map}}</i>
						<br>
						<b class='text-success'>Тип:</b> <i>{{type}}</i>
						<br>
						<b class='text-success'>Сервер:</b> <i>{{server.name}} ({{server.location.city}}, {{server.location.country}})</i>
						<br>
						{{#unless $eq status 'finished'}}
							{{#if $eq _id myMatchId}}
								{{#if gamestatus}}
									{{#if $neq gamestatus 'startingServer'}}
										<b class='text-success'>IP</b> 
										<i>
											<a href='steam://connect/{{server.ip}}:{{server.port}}/{{server.password}}'>
												connect {{server.ip}}:{{server.port}};password {{server.password}}
											</a>
										</i>
									{{/if}}
								{{/if}}
							{{else}}
								{{#if gamestatus}}
									{{#if $eq gamestatus 'startingServer'}}
											<i class='text-success'>HLTV:</i>
											<a href='steam://connect/{{server.hltv.ip}}:{{server.hltv.port}}'>
												connect {{server.hltv.ip}}:{{server.hltv.port}}
											</a>
									{{/if}}
								{{/if}}
							{{/if}}
							<b class='text-success'>Статус:</b> <i>{{getGameStatus gamestatus}}</i>
						{{/unless}}
						<hr>
						<div class='center'>
							{{#unless $eq status 'finished'}}
								{{#if $eq _id myMatchId}}
									{{#if gamestatus}}
										{{#if $eq gamestatus 'startingServer'}}
											<a class='btn btn-info' disabled>Запуск сервера...</a>
										{{else}}
											<a href='steam://connect/{{server.ip}}:{{server.port}}/{{server.password}}' class='btn btn-info'>Подключиться к серверу</a>
										{{/if}}
									{{else}}
										<button class="btn btn-danger" id="abortMatch">Отменить игру</button>
									{{/if}}
								{{else}}
									{{#if gamestatus}}
										{{#if $eq gamestatus 'startingServer'}}
											<span class='text-muted'>Сервер запускается</span>
										{{else}}
											<a href='steam://connect/{{server.hltv.ip}}:{{server.hltv.port}}' class='btn btn-info'>Смотреть HLTV</a>
										{{/if}}
									{{else}}
										{{#if $neq team1._id myTeam._id}}
											<button class="btn btn-success" data-id="{{_id}}" data-toggle="modal" data-target="#goCWModal">Сыграть CW</button>
											<div class="modal fade" id="goCWModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
															<h4 class="modal-title" id="myModalLabel">CW против {{team1.name}}</h4>
														</div>
														<div class="modal-body">
															<div class="form-group">
																<label for="selectPlayers" class="col-lg-3 control-label">Тиммейты</label>
																<div class="col-lg-6">
																	<select multiple class="form-control" id="selectPlayers">
																	{{#each myTeam.members}}
																		<option selected>{{username}}</option>
																	{{/each}}
																	</select>
																	<span class="help-block">Зажмите CTRL для выбора нескольких тиммейтов</span>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
															<button type="button" class="btn btn-primary goCW" data-id={{_id}}>Начать матч</button>
														</div>
													</div>
												</div>
											</div>
										{{/if}}
									{{/if}}
								{{/if}}
							{{else}}
								<a class='btn btn-info' href='#'>Скачать демку</a>
							{{/unless}}
						</div>
					</div>
					<div class='col-md-4 center'>
						{{#if team2.name}}
							<ul class="list-group">
								<li class='list-group-item list-group-item-danger'>
									<h3 style='margin: 0'>{{team2.name}}</h3>
								</li>
								<li class='list-group-item'>
									<img src="{{getTeamImage team2.name}}" height="120px">
								</li>
								{{#each team2.members}}
									<a href='/users/{{this}}' class="list-group-item">{{this}}</a>
								{{/each}}
							</ul>
						{{else}}
								<ul class="list-group">
									<li class='list-group-item list-group-item-danger'>
										<h3 style='margin: 0'>Team B</h3>
									</li>
									<li class='list-group-item'>
										{{#if $neq _id myMatchId}}
											<a href="#" class="goCW" data-id="{{_id}}">
												<img src="/img/plus.png" height="120px">
											</a>
										{{else}}
											<img src="/img/plus.png" height="120px">
										{{/if}}
									</li>
								</ul>	
						{{/if}}
					</div>
				</div>
				<hr>
			</div>
			<div class="col-md-3">
				{{> chat}}
			</div>
		</div>
	</div>
</template>