<template name='adminStatistics'>
	<div class="panel panel-default">
		<div class="panel-heading">Добавить сервер</div>
		<div class="panel-body">
			<div class="form-group">
				<input type="text" id="input-server-name" placeholder="Название" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" id="input-server-ip" placeholder="IP" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" id="input-server-login" placeholder="Логин" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" id="input-server-password" placeholder="Пароль" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" id="input-server-country" placeholder="Страна" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" id="input-server-city" placeholder="Город" class="form-control">
			</div>
			<div class="form-group">
				<button id="btn-add-server" class="btn btn-default pull-right">Добавить сервер</button>
			</div>
		</div>
	</div>
</template>