<template name='serverList'>
	{{#each servers}}
		<tr>
			<td>{{name}}</td>
			<td>{{ip}}</td>
			<td>{{location.city}}, {{location.country}}</td>
			<td>{{os}}</td>
			<td>{{lastUsedPort}}</td>
			<td>{{status}}</td>
			<td>
				<button class='btn btn-sm btn-danger' id='btn-remove-server' data-id='{{_id}}'>
					<span class='glyphicon glyphicon-remove'></span>
				</button>
				<button class='btn btn-sm btn-warning' id='btn-reboot-server' data-id='{{_id}}'>
					<span class='glyphicon glyphicon-refresh'></span>
				</button>
				<a href='/admin/servers/{{_id}}' class='btn btn-sm btn-default'>
					<span class='glyphicon glyphicon-chevron-right'></span>
				</a>
			</td>
		</tr>
	{{else}}
		<h1 class='text-muted'>Серверов нет</h1>
	{{/each}}
</template>