<template name='serverList'>
	{{#each servers}}
		<tr>
			<td>{{name}}</td>
			<td>{{ip}}</td>
			<td>{{login}}</td>
			<td>{{password}}</td>
			<td>{{location.city}}, {{location.country}}</td>
			<td>{{lastUsedPort}}</td>
			<td>
				<a href='/admin/servers/{{_id}}' class='btn btn-default'>
					<span class='glyphicon glyphicon-chevron-right'></span>
				</a>
			</td>
		</tr>
		<button class='btn btn-info pull-right' id='addServer'>Добавить</button>
	{{else}}
		<h1 class='text-muted'>Серверов нет</h1>
		<button class='btn btn-info' id='addServer'>Добавить</button>
	{{/each}}
</template>