<template name="presentPage">
	<div class="jumbotron">
		<div class="container">
			<form class="form-signin" role="form">
		        <h2 class="form-signin-heading">Please sign in</h2>
		        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
		        <input type="password" class="form-control" placeholder="Password" required="">
		        <label class="checkbox">
		        	<input type="checkbox" value="remember-me">
		        </label>
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
	      	</form>
		</div>
	</div>
	<div class="container">
		<div class="row">
		<div class="col-sm-4">
			<h2>Почему мы?</h2>
			<p>ComeBack.pro - платформа для командных игр и турниров. Здесь вы не сможете сыграть микс, только CW. Мы используем мощную, тщательно настроенную эко-систему серверов в разных городах. Система сама подберет команду-соперника и подходящий сервер для комфортной игры.</p>
		</div>
		<div class="col-sm-4">
			<h2>Команды</h2>
			<p>Миксов нет. За то есть отличный способ проявить свою команду и продвинуться в топ лучших. Теперь ваша команда существует не только вконтакте, и не придётся искать соперников в группах.</p>
		</div>
		<div class="col-sm-4">
			<h2>Турниры</h2>
			<p>Турниры проходят в 3 локациях: Москва, Новосибирск и Киев. Это позволит честно определить лучших среди лучших. В честь открытия проекта ComeBack.pro мы проведем турнир ComeBack.CUP#01 в начале 2014 года. Призы будут известны чуть позже.</p>
		</div>
	</div>
	</div>
</template>