<template name="about">
	<div class="container">
		<div class="page-header">
			<h1>О проекте</h1>
		</div>
		<blockquote>
		  <p>
		  	<strong>
		  		<abbr title='С англ. "Возвращение"' class="initialism">ComeBack.pro</abbr>
		  	</strong> - киберспортивный проект, посвященный знаменитому шутеру всех времён и народов: <strong>Counter-Strike 1.6</strong></p>
		  <small>Дата открытия проекта: 11 декабря 2013 года (11.12.13)</small>
		</blockquote>
		<h3>Что мы имеем?</h3>
		<p>Большинство команд в данный момент существуют лишь в группах ВКонтакте, куда пишут свои победы и поражения. Некоторые играют миксами на таких проектах, как FastCup.net, fragarena.ru, overpro.ru и пр. Есть команды, которые зарегистрированы на ESL, где серверов в России вообще нет, да и играть не с кем. Летом 2012 CS 1.6 была снята с дисциплин киберспортивной арены, а в январе 2013 Valve подорвала интерес некоторых игроков к Counter-Strike 1.6 путем выпуска обновления, которое не только сделало невозможным общение клиентов старой версии игры с новыми а также ухудшило работу мыши и сложность её настройки, но и стал невозможным откат до старой версии осенью 2013 года. К счастью, за год после обновления cs 1.6 удалось настроить до приемлемого уровня стрельбы.</p>
		<br>
		<p>Сейчас мы имеем полноценную Counter-Strike 1.6 со всеми исправленными багами, которые возникли после обновления, великолепной стрельбой, русским чатом, а также более качественной передаче голоса благодаря новому звуковому движку. Единственное, что людей, которые ушли в Counter-Strike: Global Offensive из-за обновления, скорее всего уже не вернуть. У них там своя атмосфера.</p>
		<h3>Почему мы?</h3>
		<p>Целью проекта ComeBack.pro стало желание сделать удобную для команд инфраструктуру для проведения командных игр и турниров. Наше сообщество - Steam, смысла использования NonSteam-клиентов CS 1.6 нет. Мы используем самое надежное и качественное ПО и оборудование. И мы хотим, чтобы ComeBack.pro стал для Вас очень удобным местом для проведения игр, в котором вы получите максимум удовольствия от командных игр.</p>
		<hr>
		<h3>Создатели</h3>
		<p>В ходе разработки проекта учавствовало не мало людей. Без них проекта бы не существовало. Огромное спасибо этим людям:
		</p>
		<ul>
			Графика и дизайн:
			<ul>
				<li><span class="text-info"><strong>bARTYEZEHo</strong></span> | Maks Borzykin</li>
			</ul>
			Тестирование и идеи:
			<ul>
				<li><span class="text-info"><strong>Bronnik</strong></span> | Слава Буров</li>
			</ul>
			Общий настрой к созданию:
			<ul>
				<li><span class="text-info"><strong>Chameleon</strong></span> | Иван Овчинников</li>
				<li><span class="text-info"><strong>Andreywkaa</strong></span> | Андрей Мисник</li>
				<li>Команде <span class="text-info"><strong>f.mix</strong></span></li>
			</ul>
		</ul>
		<blockquote class="pull-right">
              <small>Maxpain177 (Максим Макаров), создатель ComeBack.pro</small>
        </blockquote>
	</div>
</template>