<template name="contacts">
	<div class="container">
		<div class="page-header">
			<h1>Контакты</h1>
		</div>
		<div class="col-md-offset-2 col-md-8 well">
			<div class="col-md-6">
				<h3 class="text-center">Cвязь с администрацией</h3>
				<hr>
				<address>
					<ul>
						<li>Моб. Телефон: +79513976634</li>
						<li>Email: </li>
						<ul>
							<li><a href="mailto:support@comeback.pro">support@comeback.pro</a></li>
							<li><a href="mailto:support@comeback.pro">Maxpain177@comeback.pro</a></li>
						</ul>
						<li>
							VK: <a href="http://vk.com/Maxpain177">Maxpain177</a>
						</li>
						<li>
							Skype: <a href="skype:maxpain177">Maxpain177</a>
						</li>
						<li>
							Steam: <a href="http://steamcommunity.com/id/Maxpain177">Maxpain177</a>
						</li>
					</ul>
				</address>
			</div>

			<div class="col-md-6">
				<h3 class="text-center">Отзывы и предложения:</h3>
				<br>
				<p>
				Нам очень важно иметь представление о том, как ведёт себя сайтВсе найденные баги, ваши идеи, предложения, а также отзывы просим оставлять на нашей странице на Reformal.ru.</p>
				<br>
				<div class="col-md-offset-2 col-md-6">
					<a href="http://comeback.reformal.ru/" class="btn btn-link">comeback.reformal.ru</a>
				</div>
			</div>
		</div>
	</div>
</template>